:root {
  --color-black: #000000;
  --color-background: #fafafa;
  --color-gray: #a9a9a9;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: initial;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
  background-color: var(--color-background);
  margin: 0 auto;
}

img {
  width: 100%;
}

a { 
  font-weight: 700;
  color: var(--color-gray);
}

.header {
  margin: 7rem 0;
}

.header__title {
  font-family: "PT Serif", serif;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -0.15rem;
  color: var(--color-black);
}

.header__description {
  font-family: "Poppins", sans-serif;
  color: var(--color-black);
  margin: 3.8rem 0;
}

.description__title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.description__text {
  font-size: 1.4rem;
  font-weight: 400;
}

.main {
  color: var(--color-black);
}

.main__team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.7rem;
}

.team__card {
  display: flex;
  max-width: max-content;
  margin-bottom: 6.4rem;
}

.card__title {
  font-family: "PT Serif", serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

/* .card__photo {

} */

.card__name {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.main__team div:nth-child(even){
  margin-top: 5rem;
}

.main__team div:nth-child(odd){
  margin-bottom: -4rem;
}

.footer{
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-gray);
  text-align: center;
  margin-top: 13.4rem;
}

@media (min-width: 768px) {

  body{
    max-width: 100rem;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header__description{
    font-size: 1.8rem;
    width: 44rem;
    margin: 0;
  }

  .description__text {
    font-size: 1.8rem;
  }

  .main__team {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }

  .main__team 
  div:nth-child(even),
  div:nth-child(odd){
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  
  .main__team div:nth-child(3n+2){
    margin-top: 8rem;
  }

  .card__name{
    font-size: 1.8rem;
  }

  .card__title{
    font-size: 1.2rem;
  }

  .footer{
    margin-top: 26.8rem;
  }
}